
.tag_sm {
  display: inline-block;
  padding: 0 var(--spacing-2);
  border: 1px solid var(--color-system-default);
  border-radius: var(--radius-lg);
  color: var(--color-system-default);
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 22px;

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-xs);
  }
}


.tag_md {
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-4);
  border: 1px solid var(--color-system-default);
  border-radius: var(--radius-2xl);
  color: var(--color-system-default);
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 24px;
}