

.primary {
  padding: 15px 16px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1em;
  color: var(--color-monochrome-white);
  background-color: var(--color-brand-primary);
  border-radius: var(--radius-2xl);
  border: none;
}


.secondary {
  padding: 15px 16px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1em;
  color: var(--color-brand-primary);
  border: 1px solid var(--color-brand-primary);
  border-radius: var(--radius-2xl);
  background-color: var(--color-monochrome-white);
}
