.radioButton {
  position: relative;
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacing-2) var(--spacing-3);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  > input {
    appearance: none;
  }

  > span {
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.71;
  }

  &::before {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-system-default);
  }

  &::after {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: calc(var(--spacing-3) + 6px);
    margin: auto;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-system-accent);
    opacity: 0;
  }

  &:has(>input:checked) {
    border-color: var(--color-system-accent);
    background-color: var(--color-layer-2);

    &::before {
      border-color: var(--color-system-accent);
    }
    &::after {
      opacity: 1;
    }
  }
}