
.inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  align-items: center;
}

.accent {
  color: var(--color-brand-primary);
}


.tags {
  display: flex;
  gap: var(--spacing-4);
  justify-content: center;
}

.tags {
  display: flex;
  gap: var(--spacing-4);
}

.tag {
  display: inline-block;
  padding: 0 var(--spacing-2);
  border: 1px solid var(--color-system-default);
  border-radius: var(--radius-lg);

  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 22px;
  color: var(--color-system-default);

}