
.inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  align-items: center;
}

.accent {
  color: var(--color-brand-primary);
}


.tags {
  display: flex;
  gap: var(--spacing-4);
  justify-content: center;
}
