.heading-level-1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-base);
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.1em;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--color-brand-secondary);
    margin: var(--spacing-4) auto;
  }
}


.heading-level-2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: 0.1em;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--color-brand-secondary);
    margin: var(--spacing-4) 0;
  }
}



