.container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content {
  width: 640px;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--color-layer-1);
}