.inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);

  @media screen and (max-width: 768px) {
    gap: var(--spacing-6);
  }
}

.ageList {
  display: flex;
  gap: var(--spacing-4);
  flex-wrap: wrap;
  list-style: none;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
