.formLabel{
  display: inline-block;
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.75;

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-sm);
  }
}